## macOS
.DS_Store

## JetBrains / Rider
.idea/

## .NET
*.user
*.suo
*.userosscache
*.sln.docstates
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
[Ww][Ii][Nn]32/
[Aa][Rr][Mm]/
[Aa][Rr][Mm]64/
bld/
[Bb]in/
[Oo]bj/
[Ll]og/
[Ll]ogs/
.vs/
project.lock.json
project.fragment.lock.json
artifacts/
*.nupkg
*.snupkg
**/[Pp]ackages/
!**/[Pp]ackages/build/
*.nuspec
csx/
*.dbmdl
*.jfm
ServiceFabricBackup/
publish/
*.[Cc]ache
!*.[Cc]ache/
BenchmarkDotNet.Artifacts/
*.mpirun
_NCrunch_*
.*crunch*.local.xml
nCrunchTemp_*
.ncrunchsolution
AutoTest.Net/
[Ee]xpress/
DocProject/buildhelp/
DocProject/Help/*.HxT
DocProject/Help/*.HxC
DocProject/Help/*.hhc
DocProject/Help/*.hhk
DocProject/Help/*.hhp
DocProject/Help/Html2
DocProject/Help/html
publish/
*.publishsettings
orleans.codegen.cs
/packages/
!packages/repositories.config
*.pp
*.tmpl.cs
*.dtbcache
*.pfx
*.publishsettings
node_modules/
bower_components/
